:root {
	--roboto: "Roboto", sans-serif;

	--gray: #EFEFEF;
	--accent: #66C05D;
	--dark: #333333;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--roboto);
	font-size: 14px;

}

.container {
	max-width: 1110px;
	margin: 0 auto;

}

/* ! header-top */

.header-top {
	background-color: var(--gray);
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.nav li {
	margin-right: 22px;
}

.nav li > a {
	color: var(--dark);
	text-decoration: none;
}

/* ! .header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	height: 98px;
}

.logo {
	color: var(--accent);
	font-size: 36px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.logo-image {
	display: block;
	width: 80px;
	height: 80px;
	background-image: url(../images/logo.svg);
	margin-right: 20px;
}

.num {
	font-size: 16px;
}

.feedback {
	border-radius: 40px;
	border: 2px solid var(--accent);
	background-color: transparent;
	padding:10px 25px;
	color: #000;
	margin-left: 15px;
}

/* ! .header-bottom */

.header-bottom .nav {
	font-size: 16px;
	height: 80px;
}

.header-bottom .nav li {
	margin-right: 30px;
}

.header-bottom .nav li a {
	color: #000;
}

hr {
	border: none;
	background-color: var(--gray);
	height: 1px;
}

/* ! .background-image */

.background-image {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 604px;
	margin-bottom: 48px;
}

.center {
	position: absolute;
	margin-top: 160px;
	width: 350px;
}

.title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 40px;
	color: #fff;
}

.text {
	line-height: 20px;
	margin-bottom: 60px;
	color: #fff;
}

.link {
	border: 2px solid #fff;
	border-radius: 40px;
	padding: 10px 46px;
	color: #fff;
}

/* ! .special-offers */

.special-offers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.special-offers h2 {
	font-size: 24px;
	font-weight: 700;
}

