:root {
	--roboto: "Roboto", sans-serif;

	--gray: #EFEFEF;
	--accent: #66C05D;
	--dark: #333333;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--roboto);
	background-color: var(--gray);
	font-size: 14px;
}

.container {
	max-width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ! header */

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.nav li {
	margin-right: 30px;
}

.nav li > a {
	color: var(--dark);
	text-decoration: none;
}

/* ! .header */

.header {
	background-color: #fff;
}

/* ! */
.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	height: 120px;
}

.logo {
	color: var(--accent);
	font-size: 36px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.logo-image {
	display: block;
	width: 80px;
	height: 80px;
	background-image: url(../images/logo.svg);
	margin-right: 20px;
}

.header-info span {
	font-size: 16px;
	margin-right: 40px;
}

.header-info a {
	font-size: 14px;
	border-radius: 40px;
	border: 2px solid var(--accent);
	background-color: transparent;
	padding: 15px 25px;
}

/* ! .header-bottom */

.header-bottom .nav {
	font-size: 16px;
	height: 80px;
}

.header-bottom .nav li {
	margin-right: 40px;
}

.header-bottom .nav li a {
	color: #000;
}

hr {
	border: none;
	background-color: var(--gray);
	height: 1px;
}

/* ! .bg-image */

.bg-image {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 604px;
}

.center {
	position: relative;
	top: 200px;
	width: 400px;
}

.h1 {
	margin-top: 0;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
}

.bg-text {
	color: #fff;
	line-height: 20px;
	margin-bottom: 65px;
}

.btn {
	font-size: 14px;
	border-radius: 40px;
	border: 2px solid var(--gray);
	background-color: var(--accent);
	padding: 15px 25px;
	color: #fff;
}






